{% extends 'base.html' %}

{% load static %}


{% block title %}
    А.В. Пунжина
{% endblock %}

{% block content %}


    <div class="row mt-5">

        <div class="col-sm-12">
            <h3>Александра Васильевна Пунжина</h3>
            <hr>
        </div>
        <div class="col-sm-12">
            <img class="img-thumbnail float-left mb-4 mr-4 w-10" src="{% static 'images/punzhina.jpg' %}"  >
            <p>Александра Васильевна Пунжина — карельский учёный-филолог, диалектолог, лексикограф, составитель карельско-русского словаря.</p>
            <img class="img-thumbnail float-right ml-4 w-25"  src="{% static 'images/alexandra_in_youth.jpg' %}"  >
            <p>Родилась 20 мая 1934 года в городе Калинин в карельской семье. Родители были родом из окрестностей села Толмачи Лихославльского района. Отец, Василий Иванович, из деревни Курганы, мать, Евдокия Феоктистовна, из деревни Спорное. В семье говорили на карельском языке, поэтому Александра Васильевна отлично владела его толмачевским диалектом. В 1937 году по «карельскому делу» были арестованы десятки тверских карелов. Среди них оказался и Василий Иванович Пунжин. На свободу его отпустили в 1938 году, но вскоре призвали на Великую Отечественную войну. Семья же была вынуждена переехать обратно в Толмачи, где Александра и ее братья Вениамин и Виктор окончили школу.</p>

            <p>В 1953 году Александра Васильевна поступила в Карело-финский государственный университет на отделение русского языка и литературы историко-филологического факультета. В студенческие годы она работала под руководством Г. Н. Макарова в составе экспедиций к тверским карелам, занималась заполнением «Программ по собиранию материала для диалектологического атласа карельского языка» (под ред. Д. В. Бубриха). После окончания университета молодой специалист по распределению уехала работать учителем русского языка и литературы на о. Валаам, затем несколько лет проработала в школе г. Петрозаводска.</p>
            <img class="img-thumbnail float-right ml-4 mb-4 w-50"  src="{% static 'images/expedition_1976.jpg' %}"  >
            <p>В конце 1965 года А. В. Пунжину пригласили на должность научного сотрудника в сектор языкознания Института языка, литературы и истории Карельского научного центра АН СССР. В 1977 г. в Тартуском университете она защитила кандидатскую диссертацию по теме «Именные категории в тверских говорах карельского языка», материал для которой был собран в трех диалектных карельских ареалах – весьегонском, толмачевском и дёржанском. В 1979 году языковед была назначена ученым секретарем Института языка, литературы и истории, а с февраля 1983 по 1986 год работала ученым секретарем Президиума Карельского филиала АН СССР.</p>
            <img class="img-thumbnail float-right ml-4 mb-4 w-50"  src="{% static 'images/expedition_field.jpg' %}"  >
            <p>К одной из важнейших заслуг Александры Васильевны относится работа над «Диалектологическим атласом карельского языка. Тверские говоры» (1997). К идее создания атласа Д. В. Бубрих пришел в 1930 году, вскоре началась работа по сбору материала в Республике Карелия. Атлас был готов в 1956 году, но не издавался по различным причинам. К работе вернулись в 90-е годы в рамках совместного проекта ИЯЛИ с Научно-исследовательским центром языков Финляндии. Встала проблема дополнения атласа тверскими карельскими данными. Упорядочением и уточнением имеющихся экспедиционных материалов занялась лучший знаток тверских говоров карельского языка А. В. Пунжина. В начале 90-х она определила пункты картографирования и подготовила 209 карт по Тверской Карелии. Одновременно Александра Васильевна занималась сбором материала для «Лингвистического атласа прибалтийско-финских языков».</p>
            <img class="img-thumbnail float-right ml-4 w-50"  src="{% static 'images/tolmachi.jpg' %}"  >
            <p>Значительная коллекция тверских материалов (около ста единиц хранения), записанных А. В. Пунжиной в многочисленных экспедициях, как одиночных, так и совместных, в том числе с финляндскими исследователями Пертти Виртаранта и Лаури Хонко, хранится в Фонограммархиве ИЯЛИ КарНЦ РАН. Лишь часть из них расшифрована и опубликована в изданиях «Прибалтийско-финское языкознание» (1971), «Näytteitä karjalan kielestä» (1994). Неизгладимое впечатление на исследователя произвела поездка к карелам Зубцовского района Тверской области. В 2001 году вышел сборник текстов «Слушаю карельский говор», содержащий расшифровки дёржанских и валдайских записей карельской речи. Своего времени ждут ценные с этнографической и лингвистической точек зрения рукописные расшифровки А. В. Пунжиной.</p>
            <p>Но несомненно, первым, что приходит в голову при упоминании фамилии Александры Васильевны, является “Словарь карельского языка (тверские говоры)”, за работу над которым она принялась еще в самом начале своей языковедческой деятельности. На протяжении нескольких десятилетий А. В. Пунжина занималась сбором лексики, расшифровкой экспедиционных материалов, составлением картотеки и подготовкой к публикации словаря, ставшего делом всей ее научной жизни. Даже выйдя на пенсию, Александра Васильевна непрерывно занималась его дополнением. С большим удовольствием она консультировала начинающих лексикографов и диалектологов, делилась своими красочными воспоминаниями о работе в экспедициях.</p>
            <p>Александры Васильевны Пунжиной не стало 30 декабря 2020 года. Она похоронена в Петрозаводске на участке почетных захоронений Сулажгорского кладбища.</p>


        </div>




    </div>

{%  endblock %}