{% extends 'base.html' %}

{% load static %}


{% block title %}
    О Словаре Карельского Языка
{% endblock %}

{% block content %}


    <div class="row mt-5">

        <div class="col-sm-12">
            <h3>Словарь карельского языка А.В. Пунжиной – энциклопедия жизни тверских карелов</h3>
            <hr>
        </div>
        <div class="col-sm-12">
            <img class="img-thumbnail float-left mb-4 mr-4" src="{% static 'images/book_front.jpg' %}"  >

            <p>Одним из важнейших звеньев в ряду карельских диалектных словарей является «Словарь карельского языка (тверские говоры)» Александры Васильевны Пунжиной, увидевший свет в 1994 году.</p>

            <p>Работа по сбору лексики для словаря была начата в 1966 году сотрудником сектора языкознания Института языка, литературы и истории КарНЦ РАН А.А. Беляковым, составившим словник и записавшим первые материалы для картотеки. В нее наряду с другими источниками вошла и словарная коллекция собирателя К.В. Манжина по весьегонскому диалекту. Первые полевые записи для будущего словаря были сделаны В.Е. Злобиной (иллюстрации к буквам T, Š). Основную же часть картотеки и материалов подготовила А.В. Пунжина на основе архивных источников, магнитофонных расшифровок, а также данных, полученных в ходе многочисленных экспедиционных выездов.</p>

            <p>В подготовке буквы K принимала участие коллега А.В. Пунжиной – Виено Петровна Федотова. Их первая совместная экспедиция по сбору материала для словаря в Лихославльский район Тверской области состоялась летом 1966 года. Языковеды пешком обошли практически все карельские деревни района. Александра Васильевна вспоминала: «Сразу почувствовалось вхождение людей в язык». Тогда удалось зафиксировать прекрасную карельскую речь, наполненную фразеологическими оборотами. Поездка вызвала такой задор, что тем же летом А.В. Пунжина вернулась в Тверскую Карелию снова, теперь уже к карелам Спировского района. После экспедиции в течение года Александра Васильевна занималась расшифровками записей. Именно тогда она осознала огромную ценность людей в процессе изучения языка. Была поставлена задача: «Ездить дальше и дольше, т.е. собрать как можно больше материала, из как можно большего количества населенных пунктов».</p>

            <p>Каждый год языковедом предпринималась одна экспедиционная поездка к тверским карелам. Кроме того, сбор лексического материала производился во время отпусков. Материал по словнику записывался на магнитофон и карточки, также использовался опрос по тематическим сборникам. Таким образом, комплексно были обследованы Лихославльский, Спировский, Рамешковский, Максатихинский, Лесной и Весьегонский районы Тверской области. Неизгладимое впечатление на А.В. Пунжину произвела поездка к карелам Зубцовского района. Александра Васильевна очень сожалела о том, что не удалось включить в словарь держанские материалы. К счастью, они не пропали и увидели свет в сборнике «Слушаю карельский говор» (2000).</p>

            <p>«Словарь карельского языка (тверские говоры)» содержит около 15 тыс. слов. В нем представлены два наиболее обширных по территории распространения и числу говорящих на них диалекта – толмачевский и весьегонский. В словаре максимально полно и точно зафиксирована лексика этих диалектов, многогранно показаны значения слов.</p>

            <p>Помимо повседневной в словарь включен слой архаичной лексики из фольклорных текстов: причитаний, заговоров. Кроме того, особыми пометами снабжены слова бранные, грубые, неодобрительные, пренебрежительные, иронические, шутливые, поэтические, на детском языке, используемые в переносном значении, относящиеся к областям ботаники, зоологии, этнографии, мифологии, строительства, сельского хозяйства, техники, ткацкого дела. Пункты распространения отдельных локальных лексем также помечены в словарных статьях.</p>

            <p>Огромный опыт слушания позволил А.В. Пунжиной максимально точно зафиксировать карельскую речь. Следует особо отметить последовательность в фонетической подаче материала, приведены диалектные фонетические варианты лексем.</p>

            <p>Особую ценность представляет богатый иллюстративный материал словарных статей. Практически каждое заглавное слово, не говоря уже о многозначных, снабжено несколькими примерами, что позволяет получить достаточно полное представление об оттенках их значений, словоупотреблении и словоизменении. В примерах нашли отражение материальная и духовная культура карелов Верхневолжья, богатейшие народные традиции и обычаи. Составитель отмечала, что «зачастую, не столь важна точность, тонкость перевода, как его этнографическая сущность». Часто в качестве иллюстративного материала в словаре используются фольклорные тексты. Александра Васильевна отдельное внимание акцентировала на особой поэтичности карельского языка: «У многих бытовых предметов есть свой сакральный мир, за ними, кроме обычного значения, стоит еще что-то. Это что-то отражают пословицы, поговорки, фразеологизмы, важно было это не упустить».</p>

            <p>«Словарь карельского языка (тверские говоры)» А.В. Пунжиной послужил базой для становления тверской карельской письменности, основанной на толмачевском диалекте, и до сих пор остается основным ориентиром в процессе ее развития.</p>


        </div>




    </div>

{%  endblock %}