{% extends 'base.html' %}

{% load dict_extras %}

{% block title %}
    {{letter|upper}}{{ current_trigram }} - Словарь карельского языка
{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container d-none d-md-none d-sm-none d-lg-block">
        <ul class="navbar-nav
                       flex-wrap
                       mt-2
                       mx-auto
                       justify-content-center"
            role="group" >
            {% for l in ABC %}
                <li class="btn px-1 {% if l == letter%} active btn-light{% endif %}">
                    <a class="nav-link text-grey" href="/{{l}}" >{{ l }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<nav class="navbar d-block d-lg-none navbar-light">
    <div class="container">
        <div class="navbar-collapse collapse" id="abc">
            <ul class="navbar
                       navbar-pills
                       flex-wrap
                       mt-2
                       mx-auto
                       justify-content-center" role="group" >
                {% for l in ABC %}
                    <li class="btn px-1 {% if l == letter%} active btn-light{% endif %}">
                        <a class="nav-link text-grey" href="/{{l}}" >{{ l }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group navbar-toggler ml-n3 mr-auto">
        <button class="btn btn-primary-outline " type="button"
                data-toggle="collapse"
                data-target="#abc"
                aria-controls="abc"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span>{{ letter }}</span> <span class="btn btn-light-outline navbar-toggler-icon small"></span>
        </button>
         </div>

    </div>
</nav>

<nav  class="navbar navbar-expand-lg mb-2 navbar-light">
    <div class="container">
        {% if page_obj.has_other_pages %}
        <div class="btn-group navbar-toggler ml-0 mr-auto">
            {% if page_obj.has_previous %}
                <a class="btn btn-light btn-link"
                   href="/{{ letter }}/{{ page_obj.number|add:"-1"}}"><i class='fa fa-chevron-circle-left' ></i></a>
            {% endif %}
            <button class="btn-sm btn btn-link" type="button"
                    data-toggle="collapse"
                    data-target="#trigram"
                    aria-controls="trigram"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                {{ trigrams|get_item:page_obj.number }}
            </button>
            {% if page_obj.has_next %}
                <a class="btn btn-light  btn-link" href="/{{ letter }}/{{ page_obj.number|add:"+1" }}"><i class='fa fa-chevron-circle-right' ></i></a>
            {% endif %}
        </div>
        <ul class="pagination
                   navbar-collapse
                   collapse
                   flex-wrap
                   mx-auto
                   mt-1
                   small
                   justify-content-center" id="trigram">
            {% for i in page_obj.paginator.page_range %}
            {% ifequal i page_obj.number %}
            <li class="active page-item">
                <a class="page-link" >{{ trigrams|get_item:i }} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="/{{ letter }}/{{ i }}">{{ trigrams|get_item:i }}</a>
            </li>
            {% endifequal %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</nav>

<div class="row mb-4">
    <div class="badge badge-pill badge-secondary mr-auto ml-1">{{ first_page_word }}</div>
    <div class="badge badge-pill badge-secondary ml-auto mr-1">{{ last_page_word }}</div>
</div>

<div class="row">
    <div class="card-columns">
        {% for a in page_obj %}
            {% include "wordCard.html" with article=a %}
        {% endfor %}
    </div>
</div>


{% endblock %}
