{% extends 'base.html' %}

{% load dict_extras %}

{% block title %}
    {{letter|upper}}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="card-columns">
            {% for a in page_obj %}
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">{{a.word|clear}}</h5>
                    </div>
                    <div class="card-body">
                        {{a.article_html|nice|safe}}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}
