<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load dict_extras %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    {% bootstrap_javascript %}

    {% bootstrap_css %}
    <link href="{% static 'common.css' %}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">

</head>
<body class="min-vh-100">
<div id="wrap">
    <nav class="navbar navbar-expand-md navbar-dark" >
        <div class="container">
            <a class="navbar-brand" href="/">
                <h3 class="mb-0">
                    <img class="logo" width="46" src="{% static 'images/logo.svg' %}" >&nbsp;
                    Словарь карельского языка <span class="text-muted">(Тверские говоры)</span>
                </h3>
            </a>
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item{% if letter %} active{% endif %}">
                        <a class="nav-link" href="/"  >Алфавитный указатель</a>
                    </li>
                    <li class="nav-item{% if search %} active{% endif %}">
                        <a class="nav-link" href="/search" >Поиск</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container"  id="content">
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="footer navbar navbar-expand-md navbar-light  bg-light">
    <div class="container">
        <span class="text-muted">КарНЦ РАН</span>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about"  >О словаре</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/punzhina"  >А. В. Пунжина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dialects" >Диалекты</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>