<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load dict_extras %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_javascript %}

    {% bootstrap_css %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
        <link href="{% static 'common.css' %}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86319000, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86319000" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body class="min-vh-100">
<div id="wrap">
    <nav class="navbar navbar-expand-lg  navbar-dark" >
        <div class="container">
            <a class="navbar-brand" href="/">
                <h3 class="mb-0">
                    <img class="logo" width="46" src="{% static 'images/logo.svg' %}" >&nbsp;
                    <div class="d-none d-xs-inline d-xl-inline">
                        Словарь карельского языка <span class="text-muted">(тверские говоры)</span>
                    </div>
                </h3>
            </a>
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item{% if letter %} active{% endif %}">
                        <a class="nav-link" href="/A"  >Алфавитный указатель</a>
                    </li>
                    <li class="nav-item{% if search %} active{% endif %}">
                        <a class="nav-link" href="/search" >Поиск</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container"  id="content">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Back to top button -->
    <button
            type="button"
            class="btn btn-info btn-floating btn-lg"
            id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>
<footer class="footer navbar navbar-expand-lg navbar-light  bg-light">
    <div class="container">
        <span class="text-muted">КарНЦ РАН</span>
    </div>
</footer>
<script>
    let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</script>
</body>
</html>