{% extends 'base.html' %}

{% load static %}


{% block title %}
Словарь карельского языка
{% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="col-sm-12">

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid" src="{% static 'images/book_front.jpg' %}"  >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row my-4">
                            <div class="col-md-8 ml-2">
                                {% block search %}
                                {% include "searchForm.html" %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-12">
                                <a class="nav-link" href="/A"><h5 class="mt-2">
                                    <i class="fas fa-book-open"></i> Алфавитный указатель</h5></a>
                            </div>
                        </div>
                        <div class="row my-4 ml-3">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/intro"  ><i class="fas fa-paragraph"></i> Предисловие к печатному изданию</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about"><i class="fas fa-paragraph"></i> Словарь карельского языка А.В. Пунжиной</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/punzhina"><i class="fas fa-paragraph"></i> Александра Васильевна Пунжина</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dialects" ><i class="fas fa-paragraph"></i> Тверские диалекты карельского языка</a>
                                </li>
                                <li class="nav-item mt-3">
                                    <a class="nav-link" href="/team" ><i class="fas fa-users"></i> Участники </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        <hr>
        <p>Дорогие друзья, мы рады приветствовать вас на сайте «<b>Словаря карельского языка (тверские говоры)</b>»!</p>
        <p>Настоящий ресурс представляет собой электронную версию печатного <a class="link-secondary" href="/about">«Словаря карельского языка (тверские говоры)»</a>, составленного <a class="link-secondary" href="/punzhina">Александрой Васильевной Пунжиной</a>, и увидевшего свет в 1994 году.</p>
        <p>Разработка электронной версии словаря обоснована следующими причинами:
        <ul class="mt-n3">
            <li>тираж печатного издания уже давно разошелся, а цифровая pdf-копия, которую можно найти в интернете, неудобна в использовании;</li>
            <li>потребности современного мира связаны с расширенными возможностями работы со словарным материалом.</li>
        </ul>
        </p>
        <p>Работа над электронной версией словаря была начата в 2019 году и заключалась в вычитке его распознанной версии.
            Изначально было принято решение произвести сверку два раза, чтобы максимально исключить возможность сохранения ошибок,
            в большом количестве возникших после обработки pdf-версии(скана) словаря системой распознавания текста.
            На первом этапе работа шла очень медленно, однако постепенно <a class="link-secondary" href="/team" >коллектив проекта</a> пополнялся, что позволило закончить вычитку летом 2021 года.</p>
        <p>Кроме разрешения на разработку электронной версии словаря от составителя был получен и уникальный вариант печатного издания с авторской правкой и дополнениями. Все исправления, уточнения, а также новые словарные статьи, внесенные <i>А. В. Пунжиной</i>
            в свой рабочий вариант словаря за двадцать с лишним лет, были перенесены в его электронную версию.
            Таким образом, настоящий ресурс по праву можно назвать переработанным и дополненным изданием.
            Итоговый вариант электронной версии словаря представлен <b>14 526</b> статьями.
            Стоит особо отметить, что <a class="link-secondary" href="intro/#struct">структура и содержание словарных статей</a> сохранены без изменений.
            Для облегчения работы материалы на карельском и русском языках переданы шрифтами разного цвета.</p>
        <p>Программное обеспечение для электронного словаря, разработанное тверским карельским языковым активистом,
            программистом <a class="link-secondary" href="https://github.com/Fedoto4kin/" target="_blank">А. А. Федоточкиным</a>,
            предоставляет расширенные возможности пользования словарным материалом: </p>
        <p>
        <ol class="list-group list-group-flush">
            <li>
                Максимальное ускорение процесса поиска нужной словарной единицы: достаточно в поисковую строку ввести слово/часть слова на карельском языке, чтобы перейти к соответствующей словарной статье. Поиск осуществляется по заглавному слову.
                <p>Для достижения наилучшего результата поиска разработчиками был принят ряд решений:
                <ul class="list-group mb-2">
                    <li class="list-group-item">диакритика (различные надстрочные и подстрочные знаки, применяемые для уточнения значения других знаков) в процессе поиска не учитывается.
                        Например, на запрос «<a class="link-secondary" href="/search/hilla" >hilla</a>»
                        мы получаем две словарные статьи <b>hil’l’a</b> и <b>hilla</b>.
                        Также в процессе поиска не учитываются символы пераллелек (<b>||</b>), играющие важную роль в структуре статьи, а также, вертикалек (<b>|</b>), разделяющие части сложного слова;
                    </li>
                    <li class="list-group-item">
                        полугласный согласный <b>w</b>, используемый в словаре в качестве второго компонента долгих гласных,
                        дифтонгов и трифтонгов, в процессе поиска, согласно литературной норме языка,
                        приравнен к соответствующим ему гласным <b>u</b> или <b>у</b>, или согласному <b>v</b>,
                        как это сделано в ряде учебных пособий.
                        Так, например, чтобы найти словарную статью <b>tuwli</b>,
                        в поисковой строке мы можем указать «<a class="link-secondary" href="search/tuuli">tuuli</a>», «<a class="link-secondary" href="search/tuwli">tuwli</a>» или «<a class="link-secondary" href="search/tuvli">tuvli</a>»;
                        для поиска словарной статьи <b>pyw</b>, возможно несколько вариантов поисковых задач:
                        «<a class="link-secondary" href="search/pyw">pyw</a>», «<a class="link-secondary" href="search/püw">püw</a>», «<a class="link-secondary" href="search/püü">püü</a>», «<a class="link-secondary" href="search/pyv">pyv</a>», «<a class="link-secondary" href="search/püv">püv</a>»,
                        поскольку символы <b>ü</b> (из первого варианта алфавита для новописьменного тверского карельского языка) и <b>y</b>
                        (из единого карельского алфавита, на который перешел тверской карельский в 2018 году) представляют один и тот же звук;
                    </li>
                    <li class="list-group-item">
                        особые согласные карельского алфавита «с птичками» (<b>č</b>, <b>š</b>, <b>ž</b>) в процессе поиска могут быть заменены соответствующими
                        символами без надстрочных знаков.
                        Это решение объясняется, во-первых, определенными трудностями, связанными с поиском этих символов, а во-вторых,
                        наличием различных вариантов употребления переднеязычных щелевых согласных <b>s</b>, <b>š</b>, <b>z</b>, тверских карельских говорах.
                        Например, введя в поисковую строку «<a class="link-secondary" href="/search/seppä">seppä</a>», в результате поиска отображаются словарные статьи «<b>šeppä</b>» и «<b>s’eppä</b>» (второй фонетический вариант характерен для весьегонских говоров),
                        а чтобы найти «<b>meččä</b>», в поисковую строку можно ввести «<a class="link-secondary" href="/search/meččä">meččä</a>» или «<a class="link-secondary" href="search/meccä">meccä</a>».
                        Для замены особой графемы «<b>i̮</b>», встречающейся только в весьегонских лексических материалах, можно использовать символ «<b>i</b>».
                    </li>
                </ul>
                <p>В связи с этим пунктом особо следует отметить, что замена графем <b>ü</b> (=<b>y</b>), <b>ä</b>, <b>ö</b> соответствующими
                    символами без надстрочных знаков отсутствует, что объясняется тем, что гармония гласных карельского языка обладает смыслоразличительным значением:
                    слова «<b>kulu</b>» и «<b>külü</b>» («<b>kyly</b>» в новой орфографии) обозначают разные понятия: <i>ветошь</i> и <i>баня</i>;
                <ul  class="list-group mb-2">
                    <li class="list-group-item" >
                        в поисковом поле есть возможность заменить одну любую букву символом «<b>.</b>», для замены любого количества символов можно использовать знак «<b>?</b>».
                    </li>
                </ul>
            <li>
                Возможность <a class="link-secondary" href="search/кошка">поиска с русского языка</a>.
                Эта функция является особенно важной,
                что связано с отсутствием русско-карельских словарей тверского карельского языка.
                <br/>Регистр, приведенный в печатной версии словаря, лишь в малой степени восполняет этот пробел.
                Электронная же версия дает возможность производить поиск по словарным статьям с русского языка.
                <ul  class="list-group mb-2">
                    <li class="list-group-item" >
                        Для поиска с русского языка используется начальное вхождение.
                        Т.е. можно использовать только начало слова: <a class="link-secondary" href="search/кош">кош</a>... (<b>кош</b>ка, <b>кош</b>елёк, <b>кош</b>ель)
                    </li>
                </ul>
            <li>В шапке каждой словарной статьи (за исключением статей с пометой говора <i>всг.</i> (весьегонские говоры))
                представлен вариант написания слова с учетом правил и норм современной орфографии, т.е. произведены следующие замены:
                <ul class="list-group mb-2 list-group-flush">
                    <li class="list-group-item"><b>ü</b> -> <b>y</b>;</li>
                    <li class="list-group-item"><b>w</b> -> <b>u</b> или <b>y</b>;</li>
                    <li class="list-group-item">знаки смягчения «<b>’</b>» оставлены лишь в позиции перед гласными <b>a</b>, <b>o</b>, <b>u</b> и в абсолютном конце слова.</li>
                </ul>
                <p>Словарь <i>А. В. Пунжиной</i> является единственным крупным лексикографическим изданием по языку тверских карелов.
                    Это объясняет его высокую востребованность.
                    Однако этот словарь является <b>диалектным</b>, что далеко не всегда учитывается его читателями, использующими материалы в процессе подготовки различных надписей (информационных, рекламных, сувенирных и пр.) и микротекстов.
                    Теперь же любой пользователь сможет проверить как то или иное слово пишется правильно в литературном тверском карельском языке.</p>
            <li><p>В ходе разработки электронной версии словаря предусмотрена возможность ее дальнейшего пополнения.
                <br/>Речь идет, в первую очередь, о материалах из словарной картотеки <i>А. В. Пунжиной</i>.
                <br/>Составитель неоднократно отмечала, что в печатную версию словаря вошла лишь треть из собранной ею картотеки.</p>
                <p>В перспективе:
                <ul class="list-group mb-2 list-group-flush">
                    <li class="list-group-item">разработка инструмента поиска по иллюстративному материалу словарных статей;</li>
                    <li class="list-group-item">пополнение словаря лексемами, выбранными из образцов речи, литературных текстов, экспедиционных материалов, шеститомного словаря карельского языка “<b>Karjalan kielen sanakirja</b>”, а также неологизмами;</li>
                    <li class="list-group-item">разработка автономного мобильного приложения.</li>
                </ul>
                </p>
            </li>
        </ol>
        </p>
        <p>Уважаемые пользователи, надеемся, что вам будет удобно работать с электронной версией <b>«Словаря карельского языка (тверские говоры)»</b>.</p>
        <p>Если вы заметите ошибки или опечатки, обязательно сообщите нам о них: <a href="mailto:punzhina.dict@yandex.ru">punzhina.dict@yandex.ru </a></p>
        <p>С радостью примем ваши предложения по наполнению и улучшению ресурса.</p>

    </div>
</div>

{%  endblock %}
