html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#content {
    padding-bottom: 80px;
}

footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
}

.navbar-dark {
    background-color: #333333 !important;
}

.text-rus {
    color: #82551e;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10000;
}

.page-link  {
    border-color: #fff !important;
}
