{% extends "admin/change_form.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
  /* Django prints Model.__str__ as a tiny gray overlay on tabular rows. */
  #links_from-group .tabular td.original p,
  #links_to-group .tabular td.original p,
  #semantic_assignments-group .tabular td.original p,
  #articleindextranslate_set-group .tabular td.original p {
    display: none !important;
  }
  #links_from-group .tabular tr.has_original td,
  #links_to-group .tabular tr.has_original td,
  #semantic_assignments-group .tabular tr.has_original td,
  #articleindextranslate_set-group .tabular tr.has_original td {
    padding-top: 8px !important;
  }
</style>
{% endblock %}
